extends layout

block content
  body(ng-controller='coverage_controller', name='main_form')
    script.
      var realms = !{JSON.stringify(realms)};
      var realm = !{JSON.stringify(realm)};
      var admin = !{JSON.stringify(admin)};
    .container-fluid
      div
        // ========================================================================================================
        h4 Správa informací o pokrytí eduroamu
        p#basic_info
          | Aplikace je určena pro správce organizací připojených do eduroamu. Slouží pro úpravu informací o pokrytí. Dokumentace je k dispozici #[a(href="https://www.eduroam.cz/cs/spravce/edudb2/uvod") zde].

        // ========================================================================================================
        h4.alert.alert-danger(ng-show='admin') Jste přihlášen jako administrátor a můžete editovat informace o pokrytí libovolné organizace.
        // ========================================================================================================


        form.form-horizontal
          h4 Výběr realmu
          // ========================================================================================================
          p(ng-show='admin_realms.length == 0')
            | Pro vaše uživatelské jméno nejsou evidovány zádné dostupné realmy. Ujistěte se, že používáte svou CESNET identitu (ne eduid.cz identitu, pokud je vaše domovská organizace členem) a zkuste stránku obnovit po pěti minutách.
            Pokud problém přetrvává, kontaktuje nás na adrese info@eduroam.cz.
          // ========================================================================================================
          .form-group(ng-show='admin_realms.length > 0')
            label.col-sm-2.control-label Realm
            .col-xs-2
              select.form-control(ng-model='selected_realm', ng-change="check_unsaved_data('{{selected_realm}}')")
                option(value="" selected disabled hidden) Vyberte realm
                option(ng-repeat='option in admin_realms', value='{{option}}') {{option}}

        // ========================================================================================================
        //- novalidate used as workaround to prevent console errors when removing locations
        form.form-horizontal(name="main_form", novalidate)
          // ========================================================================================================
          div.lds-dual-ring(ng-show='loading')

          div(ng-show='selected_realm && api_read_error && !loading')
            h4 {{error}}

          div(ng-show='selected_realm && no_org_defined && !loading')
            h4 {{error}}

          // ========================================================================================================
          div(ng-show='selected_realm && !api_read_error && !no_org_defined && !loading')
            uib-accordion(close-others='true')
              .panel-default(uib-accordion-group='', heading='Základní údaje', is-open='basic_info.open', ng-class="{ 'error' : basic_info_error }", parent-scope='accordion_shared_scope')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.name_cz.$error.required }")
                  label.col-sm-2.control-label Český název:
                  .col-xs-6
                    input.form-control(type='text', placeholder='Ukázková škola Praha 1', ng-model='json_data.inst_name[0].data', name="name_cz", required, ng-blur='validate_basic_info(main_form)')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.name_en.$error.required }")
                  label.col-sm-2.control-label Anglický název:
                  .col-xs-6
                    input.form-control(type='text', placeholder='Example school Prague 1', ng-model='json_data.inst_name[1].data', name="name_en", required ng-blur='validate_basic_info(main_form)')
                .form-group
                  label.col-sm-2.control-label Adresa
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.street_cz.$error.required }")
                  label.col-sm-2.control-label Ulice a číslo popisné:
                  .col-xs-3
                    input.form-control(type='text', placeholder='Vodičkova 1', ng-model='json_data.address[0].street.data', name="street_cz", required ng-blur='validate_basic_info(main_form)')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.city_cz.$error.required }")
                  label.col-sm-2.control-label Město:
                  .col-xs-3
                    input.form-control(type='text', placeholder='Praha 1', ng-model='json_data.address[0].city.data', name="city_cz", required ng-blur='validate_basic_info(main_form)')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.info_url_cz.$error.required || main_form.info_url_cz.$error.pattern }")
                  label.col-sm-2.control-label Informační URL pro návštěvníky v Českém jazyce:
                  .col-xs-6
                    input.form-control(type='text', placeholder='https://skola.example/eduroam/informace_cs.html', ng-model='json_data.info_URL[0].data', name="info_url_cz", required, ng-pattern='url_regex', ng-blur='validate_basic_info(main_form)')
                  .row.pull-right
                    .col-sm-12
                      a.info_url_hint(href="https://www.eduroam.cz/cs/spravce/edudb2/info_url") Příklad informačního URL
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.info_url_en.$error.required || main_form.info_url_en.$error.pattern }")
                  label.col-sm-2.control-label Informační URL v Anglickém jazyce:
                  .col-xs-6
                    input.form-control(type='text', placeholder='https://skola.example/eduroam/informace_en.html', ng-model='json_data.info_URL[1].data', name="info_url_en", required, ng-pattern='url_regex', ng-blur='validate_basic_info(main_form)')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.type.$error.required }")
                  label.col-sm-2.control-label Typ zapojení:
                  .col-xs-2
                    select.form-control(ng-model='json_data.type', name="type", required, disabled)
                      option(value='IdP+SP') IdP + SP (aktivní)
                      option(value='SP') SP (pasivní)
                      option(value='IdP') IdP
                // ========================================================================================================
                .form-group
                  label.col-sm-3.control-label Datum poslední změny:
                    p.inline-block
                    |   {{last_changed}}

                  label.col-sm-3.control-label Autor:
                    p.pull-right.col-sm-push-1.inline-block
                    |   {{last_changed_author}}
                // ========================================================================================================





              .panel-default(uib-accordion-group='', heading='Seznam správců', ng-class="{ 'error' : admins_error }")
                // ========================================================================================================
                div(ng-repeat='contact in json_data.contact track by $index')
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_name.$error.required }")
                    label.col-sm-2.control-label Správce:
                    .col-xs-3
                      input.form-control(type='text', placeholder='Jan Novák', ng-model='contact.name', name="admin_{{$index}}_name", required, ng-blur='validate_admins(main_form)')
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_mail.$error.required || main_form.admin_{{$index}}_mail.$error.pattern }")
                    label.col-sm-2.control-label Email:
                    .col-xs-3
                      input.form-control(type='text', placeholder='jan.novak@skola.example', ng-model='contact.email', name="admin_{{$index}}_mail", required, ng-pattern='mail_regex', ng-blur='validate_admins(main_form)')
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : (main_form.admin_{{$index}}_phone.$error.required || main_form.admin_{{$index}}_phone.$error.pattern)}")
                    label.col-sm-2.control-label Telefon:
                    .col-xs-3
                      input.form-control(type='text', placeholder='+420 123 456 789', ng-model='contact.phone', name="admin_{{$index}}_phone", required, ng-pattern='phone_regex', ng-blur='validate_admins(main_form)')
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_type.$error.required }")
                    label.col-sm-2.control-label Typ kontaktu:
                    .col-xs-3
                      select.form-control(ng-model='contact.type', ng-options='contact_type.indexOf(type) as type for type in contact_type', name="admin_{{$index}}_type", required)
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_privacy.$error.required }")
                    label.col-sm-2.control-label Soukromí kontaktu:
                    .col-xs-3
                      select.form-control(ng-model='contact.privacy', ng-options='contact_privacy.indexOf(type) as type for type in contact_privacy', name="admin_{{$index}}_privacy", required)
                  // ========================================================================================================
                  .form-group(ng-show='json_data.contact.length > 1')
                    label.col-sm-2.control-label Odebrat správce
                    .col-xs-2
                      div(layout-gt-xs='row')
                        button.btn.btn-default.addButton(type='button', ng-click='remove_contact($index)')
                          i.glyphicon.glyphicon-minus
                  hr(ng-show='$index != (json_data.contact.length - 1)')
                  // ========================================================================================================
                .form-group
                  label.col-sm-2.control-label Přidat Správce
                  .col-xs-2
                    div(layout-gt-xs='row')
                      button.btn.btn-default.addButton(type='button', ng-click='add_contact()')
                        i.glyphicon.glyphicon-plus



              .panel-default(uib-accordion-group='', heading='Informace o pokrytých lokalitách', expanded='init_coverage_map()', ng-class="{ 'error' : location_error }")
                uib-accordion(close-others='true')
                  uib-accordion-group.panel-default(uib-accordion-group='', ng-repeat='location in json_data.location track by $index', expanded='init_leaflet_by_id($index)', ng-class="{ 'error' : locations[$index].error }", is-open='locations[$index].open')
                    uib-accordion-heading
                      | {{locations[$index].heading}}
                      .pull-right
                        button.btn.btn-default(type='button', ng-click='$event.stopPropagation(); remove_location($index);') Odebrat lokalitu
                        //- type button prevents "clicking" the button when pressing enter on atribtrary of form's input
                      br
                      br
                    // ========================================================================================================
                    .form-group
                      label.col-sm-2.control-label Adresa
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_street.$error.required }")
                      label.col-sm-2.control-label Ulice a číslo popisné:
                      .col-xs-3
                        input.form-control(type='text', placeholder='Vodičkova 1', ng-model='location.address[0].street.data', name="location_{{$index}}_street", required, ng-blur='validate_locations(main_form); find_map_location($index); set_location_heading($index);')
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_city.$error.required }")
                      label.col-sm-2.control-label Město:
                      .col-xs-3
                        input.form-control(type='text', placeholder='Praha 1', ng-model='location.address[0].city.data', name="location_{{$index}}_city", required, ng-blur='validate_locations(main_form); find_map_location($index); set_location_heading($index);')
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_coordinates.$error.required }")
                      label.col-sm-2.control-label Geograficé umísťění:
                      .col-xs-3
                        input.form-control(type='text', placeholder='Vyplňte město a ulici', ng-model='location.coordinates', disabled, name="location_{{$index}}_coordinates", required, ng-blur='validate_locations(main_form)')
                    div.map(id="map_{{$index}}")
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_info_url_cz.$error.required || main_form.location_{{$index}}_info_url_cz.$error.pattern }")
                      label.col-sm-2.control-label Informační URL pro návštěvníky v Českém jazyce:
                      .col-xs-6
                        input.form-control(type='text', placeholder='https://skola.example/eduroam/informace_cs.html', ng-model='location.info_URL[0].data', name="location_{{$index}}_info_url_cz", required, ng-pattern='url_regex', ng-blur='validate_locations(main_form)')

                      .row.pull-right
                        .col-sm-12
                          a.info_url_hint(href="https://www.eduroam.cz/cs/spravce/edudb2/info_url") Příklad informačního URL
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_info_url_en.$error.required || main_form.location_{{$index}}_info_url_en.$error.pattern }")
                      label.col-sm-2.control-label Informační URL v Anglickém jazyce:
                      .col-xs-6
                        input.form-control(type='text', placeholder='https://skola.example/eduroam/informace_en.html', ng-model='location.info_URL[1].data', name="location_{{$index}}_info_url_en", required, ng-pattern='url_regex', ng-blur='validate_locations(main_form)')

                    // ========================================================================================================
                    .form-group
                      label.col-sm-2.control-label Název lokality v Českém jazyce (nepovinné):
                      .col-xs-3
                        input.form-control(type='text', placeholder='Název ukázkové lokality', ng-model='location.loc_name[0].data')

                    // ========================================================================================================
                    .form-group
                      label.col-sm-2.control-label Název lokality v Anglickém jazyce (nepovinné):
                      .col-xs-3
                        input.form-control(type='text', placeholder='Example locality name', ng-model='location.loc_name[1].data')

                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_SSID.$error.required }")
                      label.col-sm-2.control-label Vysílané SSID:
                      .col-xs-3
                        input.form-control(type='text', ng-model='location.SSID', list='ssid_list', name="location_{{$index}}_SSID", required, ng-blur='validate_locations(main_form)')
                        datalist#ssid_list
                          option(value='eduroam') eduroam
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_enc_level.$error.required }")
                      label.col-sm-2.control-label Použité šifrování:
                      .col-xs-3
                        input.form-control(type='text', ng-model='location.enc_level', list='enc_types', name="location_{{$index}}_enc_level", required, ng-blur='validate_locations(main_form)')
                        datalist#enc_types
                          option(value='WPA2 + AES') WPA2 + AES
                    // ========================================================================================================
                    .form-group
                      label.col-sm-2.control-label
                        input.checkbox-inline.pull-right.col-sm-push-1(type='checkbox', ng-model='locations[$index].port_restrict')
                        | Existuje blokování portů?

                      label.col-sm-2.control-label
                        input.checkbox-inline.pull-right.col-sm-push-1(type='checkbox', ng-model='locations[$index].transp_proxy')
                        | Je použita transparentní proxy?

                      label.col-sm-2.control-label
                        input.checkbox-inline.pull-right.col-sm-push-1(type='checkbox', ng-model='locations[$index].ipv6')
                        | Je podporován protokol IPv6?

                      label.col-sm-2.control-label
                        input.checkbox-inline.pull-right.col-sm-push-1(type='checkbox', ng-model='locations[$index].nat')
                        | Je používán překlad adres (NAT)?

                      label.col-sm-2.control-label
                        input.checkbox-inline.pull-right.col-sm-push-1(type='checkbox', ng-model='locations[$index].wired')
                        | Poskytujete eduroam na metalických zásuvkách?
                    // ========================================================================================================
                    .form-group(ng-show='locations[$index].wired')
                      label.col-sm-2.control-label Počet metalických zásuvek
                      .col-xs-1
                        input.form-control(type='number', placeholder='5', min="1", ng-model='location.wired_no', name="location_{{$index}}_wired_no", ng-blur='validate_locations(main_form)')
                    // ========================================================================================================
                    .form-group
                      label.col-sm-2.control-label Počet použitých AP:
                      .col-xs-1
                        input.form-control(type='number', min="1", placeholder='5', ng-model='location.AP_no', name="location_{{$index}}_ap_no", ng-blur='validate_locations(main_form)')

                // ========================================================================================================
                .form-group
                  .col-xs-2
                    button.btn.btn-default.addButton(type='button', ng-click='add_location()') Přidat lokalitu
                // ========================================================================================================
                .form-group
                  h4#coverage_map_title Pokrytí všech evidovaných lokalit
                  div.map(id="coverage_map")


            // ========================================================================================================
            div#write_error(ng-show='api_write_error')
              h4.alert.alert-danger {{error}}
                pre(ng-show='error_msg') {{error_msg}}


            // ========================================================================================================
            .form-group
              .col-xs-3
                label.control-label Provedené úpravy:
                input.form-control(type='text', ng-model='commit_message')
            // ========================================================================================================
            .form-group
              .col-xs-2
                input.btn.btn-default(type='submit', ng-click='save_data()', value="Uložit data", ng-disabled="main_form.$invalid || json_data.location.length == 0 || json_data.contact.length == 0")
                div.alert.alert-danger(ng-show="main_form.$invalid || json_data.location.length == 0 || json_data.contact.length == 0") Pro uložení dat doplňte chybějící informace v sekcích označených červenou barvou.

            // ========================================================================================================
            .form-group
              .col-xs-3
                h4.alert.alert-success.fade-in-out(ng-show='api_write_success') Data úspěšně uložena.

            // ========================================================================================================
            uib-accordion(close-others='true')
              .panel-default(uib-accordion-group='', heading='Historie změn')
                pre.
                  {{history}}

            // ========================================================================================================
            uib-accordion(close-others='true', ng-show='admin')
              .panel-default(uib-accordion-group='', heading='Zobrazit JSON')
                pre.
                  {{debug}}




