doctype html
html(ng-app="coverage")
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='/stylesheets/app.min.css')
    script(src='/javascripts/app.js')

  body
    div#container
      include ./linker.pug
      div.main
        block content
      include ./footer.pug
