#dokuwiki__footer
  .pad.wrapper
    .cols
      .col.logo
        img(src='/images/logo-cesnet.svg', width='300', alt='')
      .col
        h1#links.sectionedit1 Rychlé odkazy
        .level1
          ul
            li.level1
              .li
                a.urlextern(href='https://www.eduroam.cz/', title='https://www.eduroam.cz/', rel='nofollow') eduroam.cz
            li.level1
              .li
                a.urlextern(href='https://ermon.cesnet.cz/', title='https://ermon.cesnet.cz/', rel='nofollow') monitoring
        //- cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/e/e69705af824ec9cbce7138d8c05d42c3.xhtml used
      .col
        h1#contact.sectionedit1 Kontakt
        .level1
          p
            | CESNET, z. s. p. o.
            br
            | Zikova 4, 16000 Prague 6
            br
            | Tel: +420 224 352 994
            br
            | Fax: +420 224 320 269
            br
            a.mail(href='mailto:info@cesnet.cz', title='info@cesnet.cz') info@cesnet.cz
        //- cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/a/ac27c09496f666aaa210d44d91720145.xhtml used
      .col
        h1#service_desk.sectionedit1 Service desk
        .level1
          p
            | Tel: +420 224 352 994
            br
            | GSM: +420 602 252 531
            br
            | Fax: +420 224 313 211
            br
            a.mail(href='mailto:support@cesnet.cz', title='support@cesnet.cz') support@cesnet.cz
        //- cachefile /var/lib/dokuwiki/farm/www.eduroam.cz/data/cache/c/cf15bcb3bc8dbde6525203a96fe55dd5.xhtml used
    .copyright
      | © 1996–2018 CESNET, z. s. p. o.

