extends layout

block content
  script.
  .grid(ng-controller="index_controller")
    h3 Stav připojování k eduroam.cz

    p.row
      | Synchronizováno jednou denně. Aktualizaci lze vynutit kliknutím na jméno organizace.

    form.row

      label Vybrat
      select(ng-model='orgs_connection_filter', ng-options="org_type as org_type.key for org_type in org_types", ng-change='check_problematic()')

      label organizace s názvem
      input(type="text", ng-model='orgs_name_filter')

      label řadit
      select(ng-model='sort_type')
        each key, val in {"abecedně" : "org_name", "podle data připojení" : "connection_timestamp", "podle data registrace" : "register_timestamp", "podle změn" : "last_change"}
          option(value = key) #{val}

      label.clickable(for='reverse_sort') Obrátit směr řazení
      input#reverse_sort(type="checkbox" ng-model='reverse_sort')


