extends layout

block content
  body(ng-controller='coverage_controller', name='main_form')
    script.
      var realms = !{JSON.stringify(realms)};
    .container-fluid
      div
        form.form-horizontal(name="main_form")
          // ========================================================================================================
          h4 Výběr realmu
          // ========================================================================================================
          .form-group
            label.col-sm-2.control-label Realm
            .col-xs-2
              select.form-control(ng-model='selected_realm', ng-change='get_json()')
                option(ng-repeat='option in admin_realms', value='{{option}}') {{option}}



          //- TODO rozsirit podminku + animace?
          //- TODO - jak resit pripad, kdy (jeste?) nebude realm k dispozici?
          //- TODO - pridat needitovatelne pole s odkazem na federacni politiku?
          div(ng-show='selected_realm && realm_validated')
            uib-accordion(close-others='true')
              .panel-default(uib-accordion-group='', heading='Základní údaje', is-open='true')
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.name_cz.$error.required && !main_form.name_cz.$pristine}")
                  label.col-sm-2.control-label Český název:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Ukázková škola Praha 1', ng-model='json_data.inst_name[0].data', name="name_cz", required)
                // ========================================================================================================
                .form-group
                  label.col-sm-2.control-label Adresa
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.street_cz.$error.required && !main_form.street_cz.$pristine}")
                  label.col-sm-2.control-label Ulice a číslo popisné:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Vodičkova 1', ng-model='json_data.address[0].street.data', ng-blur='copy_street(json_data.address[0].street.data, "cs")', name="street_cz", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.city_cz.$error.required && !main_form.city_cz.$pristine}")
                  label.col-sm-2.control-label Město:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Praha 1', ng-model='json_data.address[0].city.data', ng-blur='copy_city(json_data.address[0].city.data, "cs")', name="city_cz", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.info_url_cz.$error.required && !main_form.info_url_cz.$pristine}")
                  label.col-sm-2.control-label Informační URL pro návštevníky v Českém jazyce:
                  .col-xs-5
                    input.form-control(type='text', placeholder='https://skola.cz/eduroam/informace_cz.html', ng-model='json_data.info_URL[0].data', ng-blur='copy_info_url(info_url_cz, "cz")', name="info_url_cz", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.name_en.$error.required && !main_form.name_en.$pristine}")
                  label.col-sm-2.control-label Anglický název:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Example school Prague 1', ng-model='json_data.inst_name[1].data', name="name_en", required)
                // ========================================================================================================
                .form-group
                  label.col-sm-2.control-label Adresa
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.street_en.$error.required && !main_form.street_en.$pristine}")
                  label.col-sm-2.control-label Ulice a číslo popisné:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Vodičkova 1', ng-model='json_data.address[1].street.data', ng-blur='copy_street(json_data.address[1].street.data, "en")', name="street_en", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.city_en.$error.required && !main_form.city_en.$pristine}")
                  label.col-sm-2.control-label Město:
                  .col-xs-2
                    input.form-control(type='text', placeholder='Praha 1', ng-model='json_data.address[1].city.data', ng-blur='copy_city(json_data.address[1].city.data, "en")', name="city_en", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.info_url_en.$error.required && !main_form.info_url_en.$pristine}")
                  label.col-sm-2.control-label Informační URL pro návštevníky v Anglickém jazyce:
                  .col-xs-5
                    input.form-control(type='text', placeholder='https://skola.cz/eduroam/informace_en.html', ng-model='json_data.info_URL[1].data', ng-blur='copy_info_url(info_url_en, "en")', name="info_url_en", required)
                // ========================================================================================================
                .form-group(ng-class="{ 'has-error' : main_form.type.$error.required && !main_form.type.$pristine}")
                  // TODO - default hodnota?
                  label.col-sm-2.control-label Typ zapojení:
                  .col-xs-2
                    select.form-control(ng-model='json_data.type', name="type", required)
                      option(value='IdP+SP') IdP + SP (aktivní)
                      option(value='SP') SP (pasivní)
                      option(value='IdP') IdP
                // ========================================================================================================





              .panel-default(uib-accordion-group='', heading='Seznam správců')
                // TODO - stejny zpusob zpracovani jako pro lokace?
                // ========================================================================================================
                div(ng-repeat='contact in json_data.contact track by $index')
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_name.$error.required && !main_form.admin_{{$index}}_name.$pristine}")
                    label.col-sm-2.control-label Správce:
                    .col-xs-3
                      input.form-control(type='text', placeholder='Jan Novák', ng-model='contact.name', name="admin_{{$index}}_name", required)
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_mail.$error.required && !main_form.admin_{{$index}}_mail.$pristine}")
                    label.col-sm-2.control-label Email:
                    .col-xs-3
                      input.form-control(type='text', placeholder='jan.novak@skola.cz', ng-model='contact.email', name="admin_{{$index}}_mail", required)
                  // ========================================================================================================
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_phone.$error.required && !main_form.admin_{{$index}}_phone.$pristine}")
                    label.col-sm-2.control-label Telefon:
                    .col-xs-3
                      input.form-control(type='text', placeholder='+420 123 456 789', ng-model='contact.phone', name="admin_{{$index}}_phone", required)
                  // ========================================================================================================
                  //- TODO - default value for newly added admins
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_type.$error.required && !main_form.admin_{{$index}}_type.$pristine}")
                    label.col-sm-2.control-label Typ kontaktu:
                    .col-xs-3
                      select.form-control(ng-model='contact.type', ng-options='contact_type.indexOf(type) as type for type in contact_type', name="admin_{{$index}}_type", required)
                  // ========================================================================================================
                  //- TODO - default value for newly added admins
                  .form-group(ng-class="{ 'has-error' : main_form.admin_{{$index}}_privacy.$error.required && !main_form.admin_{{$index}}_privacy.$pristine}")
                    label.col-sm-2.control-label Soukromí kontaktu:
                    .col-xs-3
                      select.form-control(ng-model='contact.privacy', ng-options='contact_privacy.indexOf(type) as type for type in contact_privacy', name="admin_{{$index}}_privacy", required)
                  // ========================================================================================================
                  .form-group(ng-show='json_data.contact.length > 1')
                    label.col-sm-2.control-label Odebrat správce
                    .col-xs-2
                      div(layout-gt-xs='row')
                        button.btn.btn-default.addButton(type='button', ng-click='remove_contact($index)')
                          i.glyphicon.glyphicon-minus
                  // ========================================================================================================
                .form-group
                  label.col-sm-2.control-label Přidat Správce
                  .col-xs-2
                    div(layout-gt-xs='row')
                      button.btn.btn-default.addButton(type='button', ng-click='add_contact()')
                        i.glyphicon.glyphicon-plus



              .panel-default(uib-accordion-group='', heading='Informace o pokrytých lokalitách')
                uib-accordion(close-others='true')
                  .panel-default(uib-accordion-group='', heading='{{locations[$index].heading}}', ng-repeat='location in json_data.location track by $index')
                    // ========================================================================================================
                    //- TODO - adresa i v EN verzi?
                    .form-group
                      label.col-sm-2.control-label Adresa
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_street.$error.required && !main_form.location_{{$index}}_street.$pristine}")
                      label.col-sm-2.control-label Ulice a číslo popisné:
                      .col-xs-2
                        input.form-control(type='text', placeholder='Vodičkova 1', ng-model='location.address[0].street.data', name="location_{{$index}}_street", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_city.$error.required && !main_form.location_{{$index}}_city.$pristine}")
                      label.col-sm-2.control-label Město:
                      .col-xs-2
                        input.form-control(type='text', placeholder='Praha 1', ng-model='location.address[0].street.data', name="location_{{$index}}_city", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_info_url_cz.$error.required && !main_form.location_{{$index}}_info_url_cz.$pristine}")
                      label.col-sm-2.control-label Informační URL pro návštevníky v Českém jazyce:
                      .col-xs-5
                        input.form-control(type='text', placeholder='https://skola.cz/eduroam/informace_cz.html', ng-model='location.info_URL[0].data', name="location_{{$index}}_info_url_cz", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_info_url_en.$error.required && !main_form.location_{{$index}}_info_url_en.$pristine}")
                      label.col-sm-2.control-label Informační URL pro návštevníky v Anglickém jazyce:
                      .col-xs-5
                        input.form-control(type='text', placeholder='https://skola.cz/eduroam/informace_en.html', ng-model='location.info_URL[1].data', name="location_{{$index}}_info_url_en", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_coordinates.$error.required && !main_form.location_{{$index}}_coordinates.$pristine}")
                      label.col-sm-2.control-label Geograficé umísťění:
                      .col-xs-3
                        input.form-control(type='text', placeholder='TODO', ng-model='location.coordinates', name="location_{{$index}}_coordinates", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_enc_level.$error.required && !main_form.location_{{$index}}_enc_level.$pristine}")
                      label.col-sm-2.control-label Použité šifrování:
                      .col-xs-2
                        input.form-control(type='text', ng-model='location.enc_level', list='enc_types', name="location_{{$index}}_enc_level", required)
                        //TODO - dalsi moznosti do listu?
                        datalist#enc_types
                          option(value='WPA2 + AES') WPA2 + AES
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_port_restrict.$error.required && !main_form.location_{{$index}}_port_restrict.$pristine}")
                      label.col-sm-2.control-label Existuje blokování portů?
                      .col-xs-2
                        select.form-control(ng-model='locations[$index].port_restrict', ng-options='opt.value as opt.key for opt in bool_options', name="location_{{$index}}_port_restrict", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_transp_proxy.$error.required && !main_form.location_{{$index}}_transp_proxy.$pristine}")
                      label.col-sm-2.control-label Je použita transparentní proxy?
                      .col-xs-2
                        select.form-control(ng-model='locations[$index].transp_proxy', ng-options='opt.value as opt.key for opt in bool_options', name="location_{{$index}}_transp_proxy", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_ipv6.$error.required && !main_form.location_{{$index}}_ipv6.$pristine}")
                      label.col-sm-2.control-label Je podporován protokol IPv6?
                      .col-xs-2
                        select.form-control(ng-model='locations[$index].ipv6', ng-options='opt.value as opt.key for opt in bool_options', name="location_{{$index}}_ipv6", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_nat.$error.required && !main_form.location_{{$index}}_nat.$pristine}")
                      label.col-sm-2.control-label Je používán překlad adres (NAT)?
                      .col-xs-2
                        select.form-control(ng-model='locations[$index].nat', ng-options='opt.value as opt.key for opt in bool_options', name="location_{{$index}}_nat", required)
                    // ========================================================================================================
                    // TODO - pocet zasuvek?
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_wired.$error.required && !main_form.location_{{$index}}_wired.$pristine}")
                      label.col-sm-2.control-label Poskytujete eduroam na metalických zásuvkách?
                      .col-xs-2
                        select.form-control(ng-model='locations[$index].wired', ng-options='opt.value as opt.key for opt in bool_options', name="location_{{$index}}_wired", required)
                    // ========================================================================================================
                    .form-group(ng-class="{ 'has-error' : main_form.location_{{$index}}_ap_no.$error.required && !main_form.location_{{$index}}_ap_no.$pristine}")
                      label.col-sm-2.control-label Počet použitých AP:
                      .col-xs-1
                        input.form-control(type='text', placeholder='5', ng-model='location.AP_no', name="location_{{$index}}_ap_no", required)
                    // ========================================================================================================
                    .form-group(ng-show='json_data.location.length > 1')
                      label.col-sm-2.control-label Odebrat lokalitu
                      .col-xs-2
                        div(layout-gt-xs='row')
                          button.btn.btn-default.addButton(type='button', ng-click='remove_location($index)', ng-show='json_data.location.length > 1')
                            i.glyphicon.glyphicon-minus

                // ========================================================================================================
                .form-group
                  .col-xs-2
                    button.btn.btn-default.addButton(type='button', ng-click='add_location()') Přidat lokalitu





            // ========================================================================================================
            .form-group
              .col-xs-2
                button.btn.btn-default(type='button', ng-click='save_data()', ng-disabled="main_form.$invalid || json_data.location.length == 0 || json_data.contact.length == 0") Uložit data

        // ========================================================================================================

        uib-accordion(close-others='true')
          .panel-default(uib-accordion-group='', heading='Debug informace')
            pre.
              {{debug}}




